# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.DS_Store
*.id0
*.id1
*.nam
*.til
.idea
*.pyc

#GDB History
.gdb_history
*.pickle

# SPI traces
*.logicdata
*.sr

# Debian packages
*.deb

# Kernel build files
*.changes
*.buildinfo

# Parsed pagetables
tools/pagetables/parsed
tools/pagetables/parsed_agesa_1009

# Coreboot repo
coreboot/*

# Kernel repo
kernel/linux

# Sqlite Databases from IDA Diphora plugin
*.sqlite

# Fletcher binary
tools/fletcher/fletcher

# Test binaries
psptool/test/binaries
psptool/test/selected_binaries/
psptool/test/latest-ryzen-june-2019

build
dist
*.egg-info

*.swp
venv
.eggs
.idea.bak
